.form-style {
  border: 1px solid black;
  width: 70%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.radio-button {
  display: flex;
  justify-content: space-between;
}

.outer-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.header {
  margin-bottom: 40px;
}
.banner {
  width: 100%;
  background-color: black;
  height: 200px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 50px;
}
.main-menu {
  margin-bottom: 80px;
}
